@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vazir";
  src: url("/src/assets/fonts/Vazir.ttf") format("ttf");
}

@font-face {
  font-family: "Vazir-Bold";
  src: url("/src/assets/fonts/Vazir-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Vazir-Meduim";
  src: url("/src/assets/fonts/Vazir-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Vazir-Thin";
  src: url("/src/assets/fonts/Vazir-Thin.ttf") format("ttf");
}

@font-face {
  font-family: "Vazir-Light";
  src: url("/src/assets/fonts/Vazir-Light.ttf") format("ttf");
}

body {
  font-family: "Vazir";
}

.stepperDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  border-radius: 60px;
}

.stepper__content {
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: blue; */
}

.stepper__bar {
  margin-top: 50px;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "عکس های خونه رو با کلیک روی اینجا آپلود کن";
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

/*
Styling scroll
*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Map*/
/* @media (min-width: 1200px) {
  .mapUnique {
    height: 70vh !important;
    width: 70% !important;
    border-radius: 20px;
  }
}
.mapUnique {
  height: 80vh;
  width: 100%;
  border-radius: 20px;
} */

/* swiper*/

.swiper-slide-active {
  display: flex;
  justify-content: center;
}
.swiper-button-prev {
  color: red !important;
}
